<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="keywords"
      content="HTML, CSS, JavaScript, Laboratory Group, Xmas, Christmas, 2020, covid, karácsony, mask"
    />
    <meta
      name="description"
      content="Christmas site for Hungarian company, Laboratory Group. Play with woman's mask to listen to music"
    />
    <meta
      name="viewport"
      content="width=device-width, height=device-height, viewport-fit=cover', initial-scale=1.0"
    />
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
    <title>Laboratory Group Christmas 2020</title>
    <link rel="stylesheet" type="text/css" href="/index.css" />
    <script src="./bundle.js"></script>
  </head>
  <body>
    <img
      src="/images/laboratory_group_logo.png"
      alt="Laboratory group logo"
      class="labgroup-logo"
    />
    <img
      src="/images/merry_xmasl_logo.png"
      alt="Boldog karácsonyt üdvözlet"
      class="merry-xmas-logo"
      id="merry-xmas"
    />
    <div class="loader" id="loader">
      <hr />
      <hr />
      <hr />
      <hr />
    </div>
    <div id="santa-woman" class="santa-woman__container">
      <div class="santa-woman__mask__container" id="mask-container">
        <img
          class="santa-woman__mask-strings"
          src="/images/mask_lines_front.png"
          alt="maszk fülbeakasztója"
          draggable="false"
        />
        <div class="santa-woman__mask-main" id="mask">
          <img
            src="/images/pull_down_text.png"
            alt="húzd le a maszkot"
            class="santa-woman__mask-main-text"
            id="mask-text"
            draggable="false"
          />
          <img
            src="/images/arrow_down.png"
            alt="lefelé táncoló nyíl"
            class="arrow-down"
            id="arrow-down"
            draggable="false"
          />
          <img
            src="/images/mask.png"
            alt="orvosi maszk"
            class="santa-woman__mask-main-img"
            draggable="false"
          />
        </div>
      </div>
    </div>
  </body>
</html>
