<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Laboratory Group Christmas 2020</title>
    <link rel="stylesheet" type="text/css" href="/index.css" />
    <script src="./bundle.js"></script>
  </head>
  <body>
    <img
      src="/images/laboratory_group_logo.png"
      alt="Laboratory group logo"
      class="labgroup-logo"
    />
    <img
      src="/images/merry_xmasl_logo.png"
      alt="Boldog karácsonyt üdvözlet"
      class="merry-xmas-logo"
    />
    <div class="santa-woman__container">
      <div class="santa-woman__mask">
        <img
          src="/images/pull_down_text.png"
          alt="húzd le a maszkot"
          class="santa-woman__mask-text"
        />
        <img
          src="/images/arrow_down.png"
          alt="lefelé táncoló nyíl"
          class="arrow-down"
        />
        <img
          src="/images/mask.png"
          alt="orvosi maszk"
          class="santa-woman__mask-img"
        />
      </div>
    </div>
  </body>
</html>
