<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Laboratory Group Christmas 2020</title>
    <link rel="stylesheet" type="text/css" href="/index.css" />
    <script src="./bundle.js"></script>
  </head>
  <body>
    <img
      src="/images/laboratory_group_logo.png"
      alt="Laboratory group logo"
      class="labgroup-logo"
    />
    <img
      src="/images/woman.png"
      alt="Mikulás hölgy maszkkal"
      class="santa-woman"
    />
  </body>
</html>
