@import 'variables.scss';

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  position: fixed;
  overflow: hidden;
}

body {
  background-color: $background_yellow;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 5vh 0 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.labgroup-logo {
  height: 10vh;
  margin: 5vh;
}

.merry-xmas-logo {
  height: 5vh;
  opacity: 0;
}

.santa-woman {
  &__container {
    height: $santa-woman-height;
    width: 100%;
    margin-top: auto;
    background: url('images/woman.png') bottom no-repeat;
    background-size: auto 100%;
    opacity: 0;
  }

  &__mask {
    margin: 0 auto;
    width: calc(#{$santa-woman-height} / 3);
    transform: translate(3px, calc(#{$santa-woman-height} * 0.43));

    &-img {
      width: 100%;
    }

    &-text {
      width: 55%;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      top: 25%;
    }

    .arrow-down {
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 10%;
      top: 50%;
      animation: bounce 2s infinite;
    }
  }
}
